
# AktifDesk: never commit build outputs or packaged binaries
# Android Studio will place build artifacts here
# Flutter/Dart/Pub related
# IntelliJ related
# Miscellaneous
# Obfuscation related
# Symbolication related
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# Widget Preview related
# is commented out by default.
#.vscode/
**/build/
**/doc/api/
**/ios/Flutter/.last_build_id
*.aab
*.apk
*.class
*.exe
*.iml
*.ipr
*.iws
*.log
*.pyc
*.swp
*.zip
.DS_Store
.atom/
.build/
.buildlog/
.dart_tool/
.flutter-plugins-dependencies
.history
.idea/
.pub-cache/
.pub/
.svn/
.swiftpm/
.widget_preview/
/android/app/debug
/android/app/profile
/android/app/release
/build/
/coverage/
app.*.map.json
app.*.symbols
build/
migrate_working_dir/
node_modules
relay/node_modules/
dist/
